
body{
    background-color: rgba(0, 0, 0, 0.823);
    display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    height:50px;
    width:200px;
    padding:20px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:yellow;
    border-radius: 20px;
    margin: 20px;
 
}
h2{
    color: rgb(249, 26, 6);
}